.page{
    background-color: #E8E8E8;
}

.image-place{
    
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.9);
    border: none;
}



.image-col{
    margin-top: 1.7rem;
    padding-right: 0px;
    padding-left: 0px;
}

h1{
    font-size: 6rem;
    color: #505050;
}

h2{
    font-size: 3rem;
    color: #505050;
}


.paragraph{
    font-size: 1.4rem;
    color: #505050;
    padding-left: 30rem;
    padding-right: 30rem;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    /* text-justify: inter-word; */
}



.place-name{
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}

.place-line{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.header{
    padding-top: 2rem;
    /* padding-bottom: 2rem; */
}